.aside {
  width: 100px;
  border-right: 1px solid #307672;
  height: 100%;
  min-height: 100vh;
  z-index: 999;
  @include position(fixed, 0, null, null, 0);
  transition: 0.3s ease-in;
  background-color: $background-aside-darkmode;

  @include flex(column, space-between, center);

  &.light {
    background-color: $background-aside-lightmode;
    border-right: 1px solid #992e2e;
    transition: 0.3s;
  }

  .nav-links {
    @include flex(column, space-between, center);
    height: 300px;
    margin-top: 50px;
  }
  .user-options {
    @include flex(column, space-between, center);
    height: 150px;
  }
}
