.footer-container {
  height: 200px;
  @include flex(column, space-evenly, center);
  position: relative;
  left: 100px;
  width: calc(100% - 100px);
  background-color: #151E23;
  transition: 0.3s ease-in;

  &.light {
    background-color: #868789;
    transition: 0.3s ease-in;
  }

  .footer-rights-container {
    width: calc(100% - 100px);
    padding: 25px 0 0 25px;
    @include flex(column, space-evenly, center);
    color: $text-details-color;
    text-align: center;

    & p {
      line-height: 25px;
    }

    .footer-link {
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;
      color: $button-hover-background;

      &.light {
        color: $button-light;


        &:hover {
          color: $icon-light-selected;
        }
      }

      &:hover {
        color: $button-background-color;
        transition: 0.3s;
      }
    }

    &.light {
      color: $text-lightmode-color;
    }


  }

  .personal-data-container {
    @include flex(row, space-evenly, center);
    width: 50%;
    padding-top: 20px;

    .footer-container-personal {
      @include flex(column-reverse, space-evenly, center);

      .footer-heading {
        color: $text-details-color;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 5px;


        &.light {
          color: $text-lightmode-color;
        }

      }

      .footer-icons-container {
        @include flex(row, space-evenly, center);
        width: 80px;
      }
    }
  }
}