.footer-container {
  height: 200px;
  @include flex(column, space-evenly, center);
  position: relative;
  left: 100px;
  width: calc(100% - 100px);
  background-color: $background-footer-darkmode;
  transition: 0.3s ease-in;
  @include media($md-breakpoint) {
    height: fit-content;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
  }
  &.light {
    background-color: $background-footer-lightmode;
    transition: 0.3s ease-in;
  }

  .footer-rights-container {
    width: calc(100% - 100px);
    padding: 25px 0 0 25px;
    @include flex(column, space-evenly, center);
    color: $third-text-color;
    text-align: center;
    @include media($md-breakpoint) {
      width: 100%;
      margin: 0 20px;
      padding: 20px;
    }
    & p {
      line-height: 25px;
      @include media($md-breakpoint) {
        padding: 0 20px;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .footer-link {
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;
      color: $third-color-darkmode;

      &.light {
        color: $third-color-lightmode;

        &:hover {
          color: $secondary-color-lightmode;
        }
      }

      &:hover {
        color: $secondary-color-darkmode;
        transition: 0.3s;
      }
    }

    &.light {
      color: $main-text-lightmode;
    }
  }

  .personal-data-container {
    @include flex(row, space-evenly, center);
    width: 50%;
    padding-top: 20px;
    @include media($md-breakpoint) {
      width: 100%;
      flex-wrap: wrap;
      padding: 0px;
    }
    .footer-container-personal {
      @include flex(column-reverse, space-evenly, center);

      @include media($md-breakpoint) {
        font-size: 12px;
        line-height: 14px;
      }

      .footer-heading {
        color: $third-text-color;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 5px;
        @include media($md-breakpoint) {
          font-size: 12px;
          line-height: 14px;
        }
        &.light {
          color: $main-text-lightmode;
        }
      }

      .footer-icons-container {
        @include flex(row, space-evenly, center);
        width: 80px;

        @include media($md-breakpoint) {
          height: 20px;
          width: fit-content;
          justify-content: center;

          a {
            transform: scale(0.6);
          }
        }
      }
    }
  }
}
