.hero-container {
  position: relative;
  width: 100%;
  height: 600px;
  @include media($md-breakpoint) {
    @include flex(column, flex-end, flex-start);
  }
  @include media($sm-breakpoint) {
    top: 60px;
    height: 300px;
    margin-bottom: 30px;
  }
}

.hero-image-container {
  width: 100%;
  height: 100%;
  @include position(absolute, 0, 0, null, null);

  &::after {
    content: "";
    background-image: linear-gradient(90deg, #000 37%, transparent 81%, transparent);

    width: 70%;
    height: 100%;
    position: absolute;
    @include media($md-breakpoint) {
      width: 100%;
      background-image: linear-gradient(180deg, transparent 40%, transparent 42%, #000 65%);
    }
    @include media($sm-breakpoint) {
      background-image: linear-gradient(180deg, transparent 30%, transparent 32%, rgba(#000, 0.9) 45%);
    }
  }
}
.hero-heading {
  cursor: pointer;
}
.hero-background-image {
  z-index: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  @include media($md-breakpoint) {
    left: 0;
  }
}

.hero-info {
  padding: 0 50px;
  position: absolute;
  width: 40%;
  height: 100%;
  @include flex(column, center, flex-start);
  @include media($md-breakpoint) {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 20px 60px;
  }

  & h1 {
    font-weight: 300;
    font-size: 40px;
    @include media($sm-breakpoint) {
      font-size: 20px;
    }
  }
  & a {
    color: $main-text-darkmode;
    @include media($md-breakpoint) {
      align-self: center;
      & button {
        margin: 30px 5px 5px;
        padding: 10px;
        width: fit-content;
        @include media($sm-breakpoint) {
          margin: 15px 0 0;
          padding: 2px;
          & p {
            display: none;
          }
          & svg {
            padding: 0;
          }
        }
      }
    }
  }
}

.hero-details-container {
  padding: 20px 0;
  width: 75%;
  @include flex(row, space-between, center);
  @include media($md-breakpoint) {
    padding: 0px;
  }
}

.hero-details {
  padding-right: 10px;
  font-size: $default-font-size;
  color: $third-text-color;
  @include flex(row, center, center);
  & p {
    padding-right: 5px;
  }
  @media (max-width: 600px) {
    display: none;
  }
}
.hero-description {
  @include ellipsis-multiline(15, 1.5, 5, 0);
  @include media($md-breakpoint) {
    @include ellipsis-multiline(15, 1.5, 2, 0);
  }
}

a {
  text-decoration: none;
  p {
    font-family: $main-font;
    font-size: 18px;
  }
}
