.onLoading-Container {
  min-height: calc(100vh - 200px);
  @include flex(row, center, center);

  &.light {
    background-color: $background-lightmode;
  }

  @include media($md-breakpoint) {
    width: 100vw;
    height: calc(100vh - 200px);
  }

  @include media($sm-breakpoint) {
    width: 100vw;
    height: calc(100vh - 133px);
  }
}
