.media-card {
  height: 450px;
  width: 235px;
  width: fit-content;
  margin: 20px 15px;
  scroll-snap-align: center;
  z-index: 1;
  cursor: pointer;
  @include flex(column, space-between, flex-start);
  transition: 0.1s ease-in;

  &:hover h3.media-card-heading {
    transition: 0.1s ease-in;
    color: $third-color-darkmode;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  .media-card-img {
    height: 350px;
    transition: 0.3s ease-in;

    &:hover {
      transform: scale(1.01);
    }
  }

  .media-card-heading-container {
    @include flex(row, flex-start, flex-start);
    height: 70px;
    text-overflow: ellipsis;
    width: 235px;

    h3.media-card-heading {
      font-size: $default-font-size;
      font-weight: 300;
      padding: 10px 0;

      &.light {
        color: $main-text-lightmode;
      }
    }
  }
  .votes-and-favs-container {
    width: 100%;
    @include flex(row, space-between, center);
    .heart-icons-container {
      padding-right: 20px;
    }
  }

  @include media($md-breakpoint) {
  }
}
