.media-card-cast {
  height: 350px;
  width: 15%;
  margin: 41px 33px;

  @include flex(column, center, flex-start);

  @media(max-width: $lg-breakpoint) {
    margin: 20px 33px;
  }


  @media(max-width: $md-breakpoint) {
    @include flex(column, center, center);
    width: 130px;
    height: fit-content;
    margin: 20px;
  }

  .img-container {
    height: 280px;

    @media(max-width: $lg-breakpoint) {
      height: 200px;
      width: 100%;
   

    }

    .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media(max-width: $md-breakpoint) {
        width: 130px;
        max-height: 130px;
        border-radius: 50%;
      

      }
    }
  }

  .cast-heading-container {
    @include flex(column, flex-start, flex-start);
    height: 70px;
    width: 235px;

    @media(max-width: $lg-breakpoint) {
      margin-top: 15px;
    }
    @media(max-width: $md-breakpoint) {
      @include flex(column, center, center);
      width: fit-content;
      margin: 0;

      & h3 {
        font-size: 12px;
        text-align: center;
      }

      .media-card-name {
        font-size: $default-font-size;
        font-weight: 300;
        padding: 10px 0;
       
        @media(max-width: $md-breakpoint) {
          border-radius: 50%;
          margin: 0;
        }

        @include media($sm-breakpoint) {
          padding: 0;
        }

        &.light {
          color: $main-text-lightmode;
        }
      }
    }

    .media-card-character {
      color: $third-text-color;
      font-weight: 100;
      font-size: 15px;

      &.light {
        color: $main-text-lightmode;
      }
    }
  }

}