.cardlistpreview-container {
  padding-top: 35px;
  position: relative;
  width: calc(100vw - 100px);
  height: 620px;

  @include media($md-breakpoint) {
    width: 100%;
    left: 0;
    height: 550px;
  }

  &.light {
    background-color: $background-lightmode;
  }

  @include media($sm-breakpoint) {
    width: 100vw;
    margin-top: 30px;
  }

  .cardlistpreview-title {
    @include flex(row, flex-start, flex-end);
    top: 45px;
    left: 65px;
    position: absolute;
    z-index: 90;

    @include media($md-breakpoint) {
      left: 35px;
    }

    .cardlistpreview-link {
      padding: 0px 0px 2px 10px;
      color: $fourth-color-darkmode;
      cursor: pointer;
      text-decoration: none;
      line-height: 20px;
      font-size: 17px;
      transition: 0.3s;

      &:hover {
        color: $third-color-darkmode;
        transition: 0.3s;
      }

      &.light {
        color: $secondary-color-lightmode;
        transition: 0.3s;
      }

      &.light:hover {
        font-size: 18px;
        transition: 0.3s;
      }

      @include media($md-breakpoint) {
        padding-bottom: 0;
      }
    }

    .cardlistpreview-heading {
      color: $main-text-darkmode;
      font-size: 25px;
      font-weight: 300;
      margin: 0;
      padding: 0;

      &.light {
        color: $main-text-lightmode;
      }

      @include media($md-breakpoint) {
        font-size: 20px;
      }
    }
  }

  .media-container {
    padding: 25px 0px 0px 0px;
    margin: 25px 0 0 35px;
    overflow: hidden;
    width: 95%;
    height: 90%;
    display: flex;
    scroll-snap-type: x mandatory;
    // position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    scroll-padding: 15px;

  
    &.light {
      background-color: $background-lightmode;
    }


    @include media($md-breakpoint) {
      height: fit-content;
      padding: 20px 15px;
      margin: 20px 0;
    }

    @include media($sm-breakpoint) {
      padding: 20px 0;
      // width: 95%;
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 6px;
      padding-left: 25px;
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: $main-text-lightmode;
      height: 30px;
    }

  }

  & img {
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.01);
    }
  }
}

.chevron-container {
  cursor: pointer;
  position: absolute;
  height: 80%;
  width: 60px;
  background-color: rgba(27, 38, 44, 0.8);
  outline: none;
  @include flex(row, center, center);
  top: 80px;
  z-index: 100;
  border: none;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: rgba(27, 38, 44, 0.8);
  }

  &.screen1::-webkit-scrollbar-track {
    position: 20px;
  }

  &.light {
    transition: 0.3s;
    background-color: rgba(168, 169, 172, 0.5);

    &:hover {
      transition: 0.3s;
      background-color: rgba(168, 169, 172, 0.8);
    }
  }

  & .chevron-icon {
    transition: 0.2s ease-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &.chevron-right {
    right: 0;
  }

  &.chevron-left {
    @include media($md-breakpoint) {
      left: -1px;
    }
  }

  @media (max-width: $lg-breakpoint) {
    top: 40px;
  }

  @include media($md-breakpoint) {
    width: 40px;
    top: 90px;
  }
}

.chevron-icon {
  height: 40px;
  font-weight: bold;
  color: $main-text-darkmode;

  @include media($md-breakpoint) {
    height: 30px;
  }

  &.light {
    color: $main-text-lightmode;
  }
}