.media-card {
  height: 350px;
  width: 235px;
  width: fit-content;
  margin: 20px 15px;
  scroll-snap-align: center;
  z-index: 1;
  cursor: pointer;
  @include flex(column, space-between, flex-start);

  .media-card-img {
    height: 350px;

  }

  .media-card-heading-container {
    @include flex(row, flex-start, flex-start);
    height: 70px;
    text-overflow: ellipsis;
    width: 235px;

    h3.media-card-heading {
      font-size: $default-font-size;
      font-weight: 300;
      padding: 10px 0;

      &.light {
        color: $main-text-lightmode;
      }
    }
  }
  .votes-and-favs-container {
    width: 100%;
    @include flex(row, space-between, center);
    .heart-icons-container {
      padding-right: 20px;
    }
  }

@include media($md-breakpoint) {

}

}
