.media-card {
  height: 500px;
  width: 235px;
  width: fit-content;
  margin: 20px 15px;
  scroll-snap-align: center;
  cursor: pointer;
  @include flex(column, center, flex-start);

  .media-card-img {
    height: 350px;
  }

  .media-card-heading-container {
    @include flex(row, flex-start, flex-start);
    height: 70px;
    text-overflow: ellipsis;
    width: 235px;

    h3.media-card-heading {
      font-size: $default-font-size;
      font-weight: 300;
      padding: 10px 0;

      &.light {
        color: $main-text-lightmode;
      }
    }
  }
  .votes-and-favs-container {
    @include flex(row, space-between, center);
    width: 95%;

    .media-card-rating {
      @include flex(row, flex-start, center);

      &.light {
        color: $main-text-lightmode;
      }
    }
    .fav-heart {
      width: 20px;
      transition: 0.3s;

      &.favAdd {
        transition: 0.3s;
        color: $secondary-color-lightmode;
      }
    }
  }
}
