.pagination-container {
  @include flex(row, center, center);
  padding-bottom: 5px;

  .pagination-button,
  .pagination-arrow,
  .pagination-arrow {
    &:hover,
    &.active-page {
      background-color: $third-color-darkmode;
    }
  }
  .pagination-button {
    @include button(10px, 0 5px 0 0, 35px, 50%);
  }
  .pagination-arrow {
    @include button(5px, 0 5px 0 0, 20px, 50%);
  }

  &.light {
    & .pagination-button {
      transition: 0.3s ease-in;
      color: $main-text-darkmode;
    }
    & .pagination-page {
      background-color: $secondary-color-lightmode;
      color: $main-text-darkmode;
      transition: 0.3s ease-in;
      &:hover,
      &.active-page {
        background-color: $third-color-lightmode;
      }
    }
  }
}
