.rating-stars {
  @include flex(row, center, center);
  width: 15px;
  &.light {
    color: $secondary-color-lightmode;
  }
  &.dark {
    color: $secondary-color-darkmode;
  }
}

.rating-number {
  padding: 0 10px;
}
