.main-searchbar-container {
  width: calc(100vw - 100px);
  @include flex(column, space-evenly, flex-start);
  position: absolute;
  top: 0;
  left: 100px;
  transition: ease-in 0.5s;
  background-color: $background-footer-darkmode;

  @include media($md-breakpoint) {
    min-width: 100%;
    left: 0;
  }

  &.light {
    background-color: $background-lightmode;
  }

  .close-options-container {
    @include flex(row, space-between, center);

    width: calc(100% - 100px);

    @include media($md-breakpoint) {
      @include flex(row, space-between, flex-start);
      width: 90%;
      padding: 0 20px;
    }

    &.light {
      color: $main-text-lightmode;
    }
  }

  .search-container {
    width: calc(100vw - 100px);
    position: absolute;
    top: -200px;
    transition: 0.5s ease-in;
    height: 200px;
    background-color: $background-footer-darkmode;
    z-index: 200;
    @include flex(column, space-evenly, flex-start);

    @include media($md-breakpoint) {
      @include flex(column, space-evenly, center);
      min-width: 100%;
      left: 0;
      top: -300px;
      height: 300px;
    }

    &.light {
      background-color: $background-footer-lightmode;
      transition: 0.5s ease-in;
      box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.35);
    }

    &.visible {
      transition: 0.5s ease-in;
      transform: translateY(200px);
      position: fixed;

      @include media($md-breakpoint) {
        transform: translateY(360px);
        width: 100%;
      }
    }

    .options-container {
      @include flex(row, space-evenly, center);
      width: 60%;

      @include media($md-breakpoint) {
        @include flex(column, center, flex-start);

        & > * {
          padding-bottom: 15px;
        }
      }

      .search-text {
        color: $main-text-darkmode;
        font-size: 18px;

        &.light {
          color: $main-text-lightmode;
        }
      }

      .search-label {
        @include flex(row, space-evenly, center);
        margin-right: 10px;

        &.light {
          color: $main-text-lightmode;
        }

        .radio-input {
          margin-left: 10px;
        }
      }

      .search-link {
        color: $third-text-color;
        font-size: 18px;
        font-weight: 600;
        transition: 0.5s ease-in;

        &.light {
          transition: 0.5s ease-in;
          color: $third-color-lightmode;
        }

        &.light:hover {
          transition: 0.5s ease-in;
          color: $secondary-color-lightmode;
        }

        &:hover {
          transition: 0.5s ease-in;
          color: $third-color-darkmode;
        }
      }
    }

    .search-input-container {
      @include flex(row, space-evenly, center);
      width: 60%;
      padding-top: 10px;

      @include media($lg-breakpoint) {
        margin-left: 15px;
      }

      @include media($sm-breakpoint) {
        width: 90%;
      }

      .search-input {
        border: none;
        border-bottom: 1px solid #144d53;
        background-color: $background-footer-darkmode;
        outline: none;
        color: $main-text-darkmode;
        height: 30px;
        width: 540px;
        padding-left: 10px;
        font-size: 18px;
        transition: ease-in 0.5s;

        @include media($md-breakpoint) {
          width: 80%;
          padding-left: 3px;
          margin-right: 3px;
        }

        &.light {
          transition: ease-in 0.5s;
          background-color: $background-footer-lightmode;
          border-bottom: 1px solid #992e2e;
          color: $third-color-lightmode;

          &:active,
          &:focus {
            transition: ease-in 0.5s;
            background-color: $background-footer-lightmode;
            border-bottom: 1px solid #992e2e;
            color: $third-color-lightmode;
            
          }
        }

        &:active,
        &:focus {
          border: none;
          border-bottom: 1px solid #144d53;
          background-color: $background-footer-darkmode;
          outline: none;
          color: $main-text-darkmode;
          height: 30px;
          width: 540px;
          padding-left: 10px;
          font-size: 18px;
          transition: ease-in 0.5s;

          @include media($md-breakpoint) {
            width: 80%;
            padding-left: 3px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}

.search-button {
  width: 35px;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
