.main-search-container {
  width: calc(100vw - 100px);
  margin-left: 100px;
  height: 200px;
  background-color: $background-footer-darkmode;
  transition: 0.3s ease-in;

  &.light {
    background-color: $background-lightmode;
    transition: 0.3s ease-in;
  }
}

.results-pagination-container {
  min-height: calc(100vh - 200px);
  height: 100%;
  transition: 0.3s ease-in;

  &.light {
    background-color: $background-lightmode;
    transition: 0.3s ease-in;
  }

  @include media($md-breakpoint) {
    min-height: calc(100vh - 133px);
  }
}

.results-container {
  transition: 0.3s ease-in;
  width: calc(100vw - 100px);
  min-height: calc(100vh - 200px);
  position: relative;
  left: 100px;
  height: calc(100% - 100px);
  min-height: calc(100vh - 400px);
  background-color: $background-darkmode;
  @include flex(row, space-evenly, center);
  flex-wrap: wrap;
  transition: 0.3s ease-in;

  &.discover-results-container {
    @include media($sm-breakpoint) {
      width: 100%;
      min-height: 1px;
      height: fit-content;
      margin-bottom: 60px;
      left: 0;
      top: 60px;
    }
  }

  @include media($md-breakpoint) {
    width: 100%;
    min-height: 1px;
    height: fit-content;
    margin-bottom: 360px;
    left: 0;
    top: 360px;
  }

  &.light {
    background-color: $background-lightmode;
    transition: 0.3s ease-in;
  }

  .no-results-tilte {
    font-size: 40px;
    color: $main-text-darkmode;
    text-align: center;

    &.light {
      color: $main-text-lightmode;
    }

    @include media($sm-breakpoint) {
      padding-top: 60px;
    }
  }
}

.main-discover-filter-container {
  width: calc(100vw - 100px);
  margin-left: 100px;
  height: 150px;
  background-color: $background-footer-darkmode;
  padding: 0 0 20px 80px;
  @include flex(column, space-evenly, flex-start);
  transition: 0.3s ease-in;

  @include media($md-breakpoint) {
    position: relative;
    top: 60px;
    left: 0;
    width: 100%;
    height: 300px;
    margin-left: 0;
    padding: 0 30px;
  }

  .filter-text {
    font-size: 20px;
    font-weight: 600;
    color: $main-text-darkmode;
    transition: 0.3s ease-in;

    &.light {
      transition: 0.3s ease-in;
      color: $main-text-lightmode;
    }
  }

  &.light {
    transition: 0.3s ease-in;
    background-color: $background-footer-lightmode;
  }

  .filter-container {
    width: 60%;
    height: 70%;
    @include flex(row, space-between, center);

    @include media($md-breakpoint) {
      @include flex(column, space-between, flex-start);
      width: 100%;
    }

    .select-discover {
      height: 30px;
      padding: 3px 16px 3px 8px;
      border: none;
      outline: none;
      background-color: $background-footer-darkmode;
      border-bottom: 1px solid #144d53;
      font-weight: 600;
      color: $main-text-darkmode;
      cursor: pointer;
      transition: 0.3s ease-in;

      @include media($md-breakpoint) {
        width: 60%;
      }

      & > option {
        font-weight: 600;
        height: 25px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: $background-footer-darkmode;
        transition: 0.3s ease-in;

        &.light {
          background-color: $background-footer-lightmode;
          transition: 0.3s ease-in;
        }
      }

      &.light {
        background-color: $background-footer-lightmode;
        color: $main-text-lightmode;
        border-bottom: 1px solid #992e2e;
        transition: 0.3s ease-in;
      }
    }
  }
}

.search-discover-icon {
  background-color: transparent;
  @include media($md-breakpoint) {
    width: 80%;
    @include flex(row, flex-end, center);
  }
}
