.nofavs-container {
  min-height: calc(100vh - 200px);
  width: calc(100vw -100px);
  position: relative;
  left: 100px;

  @include flex(row, center, center);
  transition: 0.3sease-in-out;

  @include media($md-breakpoint) {
    min-height: calc(100vh - 107px);
    text-align: center;
    width: 100%;
    margin: 0;
    left: 0;
  }

  @include media($sm-breakpoint) {
    min-height: calc(100vh - 134px);
  }

  @media (max-width: 450px) and (min-width: 414px) {
    min-height: calc(100vh - 122px);
  }

  @include media($xs-breakpoint) {
    min-height: calc(100vh - 135px);
  }

  @media (max-width: 320px) {
    min-height: calc(100vh - 127px);
  }

  @media (max-width: 280px) {
    min-height: calc(100vh - 150px);
  }

  &.light {
    background-color: $background-lightmode;
    transition: 0.3sease-in-out;
  }

  .nofavs-heading {
    font-weight: normal;
    transition: 0.3sease-in-out;

    &.light {
      transition: 0.3sease-in-out;
      color: $main-text-lightmode;
    }

    @include media($md-breakpoint) {
      font-size: 30px;
    }

    @include media($sm-breakpoint) {
      margin: 0;
      padding: 0;
      font-size: 20px;
      width: 90%;
    }
  }
}

.main-favs-container {
  width: calc(100vw - 100px);
  min-height: calc(100vh - 200px);
  height: 100%;
  position: relative;
  left: 100px;
  transition: 0.3s ease-in;
  padding: 50px 0;

  transition: 0.3sease-in-out;
  @include flex(column, space-evenly, center);

  @include media($lg-breakpoint) {
    width: 100%;
    margin: 0;
    left: 0;
    padding-top: 30px;
  }

  &.light {
    transition: 0.3sease-in-out;
    background-color: $background-lightmode;
  }

  .favs-carousel-container {
    @include media($md-breakpoint) {
      @include flex(column, center, center);
      width: 90%;
    }
  }

  .favs-heading {
    font-size: 40px;
    color: $main-text-darkmode;
    transition: 0.3sease-in-out;

    &.light {
      transition: 0.3sease-in-out;
      color: $main-text-lightmode;
    }

    @include media($lg-breakpoint) {
      margin-top: 60px;
    }

    @include media($sm-breakpoint) {
      font-size: 30px;
    }
  }

  .favs-subheading {
    font-size: 30px;
    text-align: left;
    padding: 50px 0 30px 70px;
    font-weight: normal;
    transition: 0.3sease-in-out;

    &.light {
      transition: 0.3sease-in-out;
      color: $main-text-lightmode;
    }

    @include media($lg-breakpoint) {
      padding: 30px 0 0 70px;
    }

    @include media($md-breakpoint) {
      display: inline-block;
      padding: 20px 0 0 0;
      font-size: 30px;
    }

    @include media($sm-breakpoint) {
      font-size: 20px;
    }
  }

  .favs-cards-container {
    @include flex(row, space-evenly, center);
    width: calc(100vw - 100px);

    .cardlistpreview-container {
      @include media($sm-breakpoint) {
        margin: 0;
        padding: 0;
      }
    }

    @include media($lg-breakpoint) {
      width: 100%;
      margin: 0;
      left: 0;
    }

    flex-wrap: wrap;
    position: relative;
  }
}