.nofavs-container {
  min-height: calc(100vh - 200px);
  width: calc(100vw -100px);
  position: relative;
  left: 100px;
  @include flex(row, center, center);
  transition: 0.3s ease-in-out;

  @include media($md-breakpoint) {
    min-height: calc(100vh - 110px);
    text-align: center;
    width: 100%;
    margin: 0;
    left: 0;
  }
  @include media($sm-breakpoint) {
    min-height: calc(100vh - 123px);
    text-align: center;
    width: 100%;
    margin: 0;
    left: 0;
  }
  &.light {
    background-color: $background-lightmode;
    transition: 0.3s ease-in-out;
  }

  .nofavs-heading {
    font-weight: normal;
    transition: 0.3s ease-in-out;

    &.light {
      transition: 0.3s ease-in-out;
      color: $main-text-lightmode;
    }
    @include media($md-breakpoint) {
      font-size: 30px;
    }
    @include media($sm-breakpoint) {
      margin: 0;
      padding: 0;
      font-size: 20px;
      width: 90%;
    }
  }
}

.main-favs-container {
  width: calc(100vw - 100px);
  min-height: calc(100vh - 200px);
  height: 100%;
  position: relative;
  left: 100px;
  transition: 0.3s ease-in;
  padding: 50px 0;
  text-align: center;
  transition: 0.3s ease-in-out;
  @include flex(column, space-evenly, center);
  @include media($md-breakpoint) {
    width: 100%;
    margin: 0;
    left: 0;
  }
  &.light {
    transition: 0.3s ease-in-out;
    background-color: $background-lightmode;
  }

  .favs-heading {
    font-size: 40px;
    color: $main-text-darkmode;
    transition: 0.3s ease-in-out;

    &.light {
      transition: 0.3s ease-in-out;
      color: $main-text-lightmode;
    }
    @include media($lg-breakpoint) {
      margin-top: 60px;
    }
    @include media($sm-breakpoint) {
      font-size: 30px;
    }
  }

  .favs-subheading {
    font-size: 30px;
    text-align: left;
    padding: 50px 0 30px 70px;
    font-weight: normal;
    transition: 0.3s ease-in-out;

    &.light {
      transition: 0.3s ease-in-out;
      color: $main-text-lightmode;
    }
    @include media($lg-breakpoint) {
      padding: 30px 0 0 70px;
    }
    @include media($md-breakpoint) {
      display: inline-block;
      padding: 20px 0 0 0;
      font-size: 30px;
    }
    @include media($sm-breakpoint) {
      font-size: 20px;
    }
  }

  .cardlistpreview-favs .media-container {
    @include media($lg-breakpoint) {
      padding: 0;
      margin-top: 0;
      width: 95%;
    }
    @include media($md-breakpoint) {
      padding: 0;
      margin-left: 50px;
      width: 95%;
    }
  }

  .cardlistpreview-favs {
    @include media($sm-breakpoint) {
      margin-top: 0;
      padding: 5px 10px 0 10px;
      .chevron-container {
        display: none;
      }
      .media-container {
        margin: 5px 10px;
      }
    }
  }

  .favs-cards-container {
    @include flex(row, space-evenly, center);
    width: calc(100vw - 100px);
    @include media($md-breakpoint) {
      width: 100%;
      margin: 0;
      left: 0;
    }
    flex-wrap: wrap;
    position: relative;
  }
}
