.main-container {
  margin-left: 100px;
  width: calc(100vw - 100px);
  overflow: hidden;
  @include flex(column, center, center);
  @include media($md-breakpoint) {
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    top: 360px;
    min-height: calc(100vh - 260px);
    height: calc(100% - 260px);
  }

  &.light {
    background-color: $background-lightmode;
  }
}
