.main-container {
  margin-left: 100px;
  width: calc(100vw - 100px);
  overflow: hidden;
  @include flex(column, center, center);


  @media(max-width: $sm-breakpoint) {
    width: 100vw;
    margin-left: 0;
  }
}

