.form-container {
  width: calc(100vw - 100px);
  min-height: calc(100vh - 200px);
  height: 100%;
  position: relative;
  left: 100px;
  transition: 0.3sease-in;
  padding: 50px 0;
  text-align: center;
  @include flex(column, space-evenly, center);

  @include media($lg-breakpoint) {
    min-height: calc(100vh - 300px);
    height: 100%;
    left: 0;
    width: 100%;
    @include flex(column, center, center);
  }

  @include media($md-breakpoint) {
    min-height: calc(100vh - 207px);
    height: 100%;
    left: 0;
    width: 100%;
    @include flex(column, center, center);
  }

  @include media($sm-breakpoint) {
    min-height: calc(100vh - 178px);
    height: 100%;
    left: 0;
    width: 100%;
    @include flex(column, center, center);
    padding: 0;
    margin-top: 60px;
  }

  .form-heading {
    font-size: 40px;
    font-weight: 400;
    transition: 0.3sease-in;

    @include media($sm-breakpoint) {
      font-size: 30px;
      padding-top: 20px;
    }

    &.light {
      transition: 0.3sease-in;
      color: $main-text-lightmode;
    }
  }

  .form {
    width: 80%;
    height: 200px;
    text-align: center;
    @include flex(column, space-between, center);

    @include media($md-breakpoint) {
      height: 100%;
      width: 100%;
    }

    .button {
      margin-right: 0;

      @include media($md-breakpoint) {
        width: 70%;
      }
    }

    .form-label {
      font-size: 20px;
      width: 450px;
      transition: 0.3sease-in;
      @include flex(row, space-between, center);

      &.light {
        transition: 0.3sease-in;
        color: $main-text-lightmode;
        &:focus {
          background-color: $background-aside-darkmode;
        }
      }

      @include media($lg-breakpoint) {
        @include flex(column, space-evenly, center);
        width: 80%;
        height: 80px;
      }

      @include media($md-breakpoint) {
        @include flex(column, space-evenly, center);
        width: 100%;
        height: 80px;
      }

      .form-input {
        margin-left: 10px;
        line-height: 15px;
        border-radius: 5px;
        border: none;
        outline: none;
        width: 300px;
        transition: 0.3sease-in;
        padding: 10px;
        font-size: 15px;

        &.light {
          transition: 0.3sease-in;
          background-color: $main-text-lightmode;
          color: $main-text-darkmode;
        }

        @include media($lg-breakpoint) {
          width: 60%;
          margin-left: 0;
        }

        @include media($md-breakpoint) {
          width: 70%;
          margin-left: 0;
        }
      }
    }
  }

  .form-text {
    color: $main-text-darkmode;
    font-size: 17px;
    transition: 0.3s;

    &.light {
      transition: 0.3s;
      color: $main-text-lightmode;
    }

    @include media($lg-breakpoint) {
      padding-top: 30px;
    }
  }

  .form-link {
    color: $third-color-darkmode;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 700;

    &.light {
      color: $secondary-color-lightmode;
      transition: 0.3s;
    }

    &:hover {
      color: $secondary-color-darkmode;
      transition: 0.3s;
    }

    &.light:hover {
      color: $third-color-lightmode;
      transition: 0.3s;
    }
  }

  &.light {
    transition: 0.3sease-in;
    background-color: $background-lightmode;
  }
}

#auth-error {
  width: 100%;
  height: 30px;
  text-align: center;

  #error-message {
    color: $third-color-lightmode;
    font-size: 17px;
    font-weight: 700;
  }
}
