.nav-tvShow {
  @include flex(row, space-evenly, center);
  width: 50%;
  padding-top: 20px;
  margin-top: 15px;

  .navlink {
    color: $third-text-color;
    text-decoration: none;
    font-size: 22px;
    transition: 0.2s;
    padding-bottom: 9px;
    font-weight: 600;

    &:hover {
      color: $main-text-darkmode;
    }

    // &.light {
    //     background-color: ;
    // }

    &.selected {
      color: $main-text-darkmode;
      border-bottom: 2px solid $main-text-darkmode;
    }
  }
}

.category-container {
  @include flex(row, space-evenly, center);
  width: calc(100vw - 100px);
  flex-wrap: wrap;
  position: relative;
  padding-top: 80px;
  display: flex;
  min-height: 100%;
  align-items: center;
  transition: 0.3s ease-in;

  &.light {
    background-color: $background-lightmode;
    transition: 0.3s ease-in;
  }

  .category-title-container {
    top: 45px;
    left: 65px;
    position: absolute;
    text-transform: capitalize;

    .category-heading {
      font-weight: 300;

      &.light {
        color: $main-text-lightmode;
      }
    }
  }
}
