.nav-container {
  transition: 0.3s ease-in;
  width: calc(100% - 100px);
  @include flex(row, center, center);
  transition: 0.3s ease-in;

  &.light {
    background-color: $background-lightmode;
  }

  @include media($md-breakpoint) {
    width: 100%;
  }

  .nav-tvShow {
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 15px;
    transition: 0.3s ease-in;
    width: 80%;

    @include media($md-breakpoint) {
      width: 100%;
    }

    &.light {
      background-color: $background-lightmode;
    }

    .navlink {
      color: $third-text-color;
      text-decoration: none;
      font-size: 22px;
      transition: 0.2s;
      padding-bottom: 9px;
      font-weight: 600;
      transition: 0.3s ease-in;

      @include media($md-breakpoint) {
        font-size: 15px;
        margin: 5px;
        padding-bottom: 2px;
      }

      &.light {
        color: $main-text-lightmode;

        &:hover {
          color: $secondary-color-lightmode;
        }

        &.selected {
          color: $third-color-lightmode;
          border-bottom: 2px solid $secondary-color-lightmode;

          @include media($md-breakpoint) {
            border-bottom: 1px solid $secondary-color-lightmode;
          }
        }
      }

      &:hover {
        color: $main-text-darkmode;
      }

      &.selected {
        color: $main-text-darkmode;
        border-bottom: 2px solid $main-text-darkmode;

        @include media($md-breakpoint) {
          border-bottom: 1px solid $main-text-darkmode;
        }
      }
    }
  }
}
