.main-trailer-container,
.main-error-container {
  margin-left: 100px;
  width: calc(100vw - 100px);
  height: 700px;
  transform: 0.3s ease-in;
  @include flex(column, center, center);

  @include media($lg-breakpoint) {
    justify-content: center;
    height: calc(100vh - 200px);
    margin-left: 100px;
  }
  @include media($md-breakpoint) {
    width: 100vw;
    justify-content: center;
    height: calc(100vh - 250px);
    margin: 0px 0 0 0;
    
  }

  @include media($sm-breakpoint) {
    width: 100vw;
    justify-content: center;
    height: calc(100vh - 260px);
  }

  &.light {
    background-color: $background-lightmode;
    transform: 0.3s ease-in;
  }

  .player-container {
    width: 70%;
    height: 70%;

    @include media($lg-breakpoint) {
      width: 80%;
      height: 35%;
    }
    @include media($md-breakpoint) {
      width: 80%;
      height: 50%;
    }
    @include media($sm-breakpoint) {
      width: 95%;
    
    }
  }
}

.main-error-container {
  height: 100%;
  line-height: 120px;
  min-height: calc(100vh - 200px);

  .error-img {
    width: 500px;
    border-radius: 10px;
  }

  &.light {
    color: $main-text-lightmode;
  }
  &.light {
    background-color: $background-lightmode;
  }
}

#error-trailer-heading {
  font-weight: normal;
}

.go-back-container {
  width: calc(100% - 100px);
  background-color: transparent;
  margin-left:  100px;
  @include flex(row, flex-start, center);
  height: 80px;
  padding-left: 15px;

  &.light {
    background-color: $background-lightmode;
  }

  @include media($md-breakpoint) {
    margin-top: 60px;
    margin-left: 0;
    width: 100%;
  }

  .go-back-button{
    @include flex(row, flex-start, center);
    background-color: transparent;
    cursor: pointer;
    color: $main-text-darkmode;
    border: none;
    outline: none;
    width: 300px;
    transition: 0.3s ease-in;
    
    &.light {
      color: $main-text-lightmode;
    }

    &:hover {
      color: $third-color-darkmode;
      transition: 0.3s ease-in;

      &.light {
        color: $secondary-color-lightmode;
      }
  
    }
      .go-back-text {
        font-size: 20px;
        padding-left: 10px;
      }
   
  }

}