.main-trailer-container,
.main-error-container {
  margin-left: 100px;
  width: calc(100vw - 100px);
  height: 700px;
  transform: 0.3s ease-in;
  @include flex(column, center, center);

  @include media($lg-breakpoint) {
    justify-content: center;
    height: calc(100vh - 200px);
    margin-left: 100px;
  }
  @include media($md-breakpoint) {
    width: 100vw;
    justify-content: center;
    height: calc(100vh - 133px);
    margin: 27px 0 0 0;
  }

  @include media($sm-breakpoint) {
    width: 100vw;
    justify-content: center;
    height: calc(100vh - 133px);
  }

  &.light {
    background-color: $background-lightmode;
    transform: 0.3s ease-in;
  }

  .player-container {
    width: 70%;
    height: 70%;

    @include media($lg-breakpoint) {
      width: 80%;
      height: 35%;
    }
    @include media($md-breakpoint) {
      width: 60%;
      height: 40%;
    }
    @include media($sm-breakpoint) {
      height: fit-content;
    }
  }
}

.main-error-container {
  height: 100%;
  line-height: 120px;
  min-height: calc(100vh - 200px);

  .error-img {
    width: 500px;
    border-radius: 10px;
  }

  &.light {
    color: $main-text-lightmode;
  }
  &.light {
    background-color: $background-lightmode;
  }
}

#error-trailer-heading {
  font-weight: normal;
}
