.main-trailer-container,
.main-error-container {
  margin-left: 100px;
  width: calc(100vw - 100px);
  height: 700px;
  transform: 0.3s ease-in;
  @include flex(column, center, center);

  &.light {
    background-color: $background-lightmode;
    transform: 0.3s ease-in;
  }

  .player-container {
    width: 70%;
    height: 80%;
  }
}

.main-error-container {
  height: 90%;
  line-height: 120px;
  min-height: calc(100vh - 200px);

  .error-img {
    width: 500px;
    border-radius: 10px;
  }
  .error-trailer-heading {
    font-weight: normal !important;
  }
  &.light {
    color: $main-text-lightmode;
  }
  &.light {
    background-color: $background-lightmode;
  }
}
