.cards-episodes-container {
  @include flex(row, space-evenly, center);
  width: calc(100vw - 100px);
  flex-wrap: wrap;
  position: relative;
  padding-top: 36px;
  display: flex;
  min-height: 100%;
  align-items: center;
  transition: 0.3s ease-in;

  @include media($md-breakpoint) {
    padding: 20px;
    width: 100%;
  }
  .card-episode {
    width: 28%;
    height: 465px;
    margin: 16px 3px;

    @include media($md-breakpoint) {
      text-align: center;
      @include flex(column, space-between, center);
      margin: 10px;
      padding: 20px 10px;
      align-self: stretch;
      min-width: 250px;
      max-height: 300px;
    }
    .img-episode-container {
      width: 100%;
      height: 264px;

      @include media($md-breakpoint) {
        min-width: 250px;
        height: 150px;
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .card-episode-title {
      display: flex;
      margin: 15px 0;
      height: 30px;
      @include media($md-breakpoint) {
        margin: 5px 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      & > span {
        color: $fourth-color-darkmode;
        transition: 0.3s ease-in;
        font-weight: 600;
        @include media($md-breakpoint) {
          font-size: 12px;
        }
        &.light {
          color: $secondary-color-lightmode;
        }
      }
      & > h3 {
        font-size: 1em;
        font-weight: 300;
        margin-left: 10px;
        transition: 0.3s ease-in;
        @include media($md-breakpoint) {
          margin: 0;
          font-size: 12px;
        }
        &.light {
          color: $main-text-lightmode;
        }
      }
    }
    .card-episode-overview {
      margin-bottom: 12px;
      height: 113px;

      @include ellipsis-multiline(13, 1.2, 5, 0);
      transition: 0.3s ease-in;
      @include media($md-breakpoint) {
        height: fit-content;
        font-size: 10px;
        & p {
          line-height: 5px;
        }
      }
      &.light {
        color: $main-text-lightmode;
      }
    }
    .card-episode-date {
      color: $third-text-color;
      transition: 0.3s ease-in;
      @include media($md-breakpoint) {
        font-size: 11px;
      }
      &.light {
        color: $secondary-color-lightmode;
      }
    }
  }
}
