.cast-container {
  @include flex(row, space-evenly, center);
  width: calc(100vw - 100px);
  flex-wrap: wrap;
  position: relative;
  padding-top: 80px;
  display: flex;
  min-height: 100%;
  align-items: center;
  transition: 0.3sease-in;

  &.light {
    background-color: $background-lightmode;
    transition: 0.3sease-in;
  }

  @include media($md-breakpoint) {
    justify-content: space-between;
    padding: 20px;

    & .media-card-cast {
      @include flex(column, center, center);
      width: 130px;
      height: fit-content;
      margin: 20px;

      & .img-container {
        width: 130px;
        max-height: 130px;
      }
      & .media-card-cast {
        width: 50px;
        max-height: 50px;
        text-align: center;
      }
      & .cast-heading-container {
        @include flex(column, center, center);
        width: fit-content;
        & h3 {
          font-size: 12px;
          text-align: center;
        }
        & .media-card-name {
          padding: 0;
        }
      }
    }
  }

  @include media($sm-breakpoint) {
    justify-content: center;
  }
}
