.overview-main-container {
  width: calc(100vw - 100px);
  overflow: hidden;
  @include flex(column, center, center);
  transition: 0.3s ease-in;
  min-height: calc(100vh - 865px);

  &.light {
    background-color: $background-lightmode;
    color: $main-text-lightmode;
  }

  .serie-container {
    @include flex(row, center, center);
    padding: 80px 0 36px 0;

    margin: 0 0 20px 100px;

    @include media($md-breakpoint) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 20px;
      width: 100%;
    }

    .img-serie-container {
      width: 20%;

      &>img {
        width: 100%;
        min-width: 180px;
        height: 100%;

        @include media($md-breakpoint) {
          width: 200px;
          height: auto;
        }
      }

      @include media($md-breakpoint) {
        @include flex(row, flex-start, flex-start);
        border-radius: 50%;
        overflow: hidden;
        height: 200px;
        width: 200px;
        margin: 0;
        padding: 0;
      }
    }

    .info-serie-container {
      width: 60%;
      margin: 0 20px 0 64px;

      .title-serie {
        &>h3 {
          font-size: 24px;
          font-weight: 100;
          margin-bottom: 12px;
        }
      }

      @include media($md-breakpoint) {
        width: fit-content;
        margin: 0;
        padding: 30px;

        & p {
          font-size: 12px;
        }

        &>h3 {
          margin: 10px;
          font-size: 12px;
        }
      }

      .details-serie-container {
        margin-top: 18px;

        .details-serie-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .list-item {
            list-style: none;
            margin: 13px 0;
            width: 50%;
            display: flex;

            @include media($md-breakpoint) {
              width: 100%;
              font-size: 12px;
            }

            .list-item-title {
              width: 50%;
              font-weight: bold;
            }

            .list-item-details {
              width: 100%;
            }
          }
        }
      }
    }
  }
}