.category-container {
  @include flex(column, space-evenly, center);
  width: calc(100vw - 100px);
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  transition: 0.3s ease-in;
  padding: 80px 0 100px 0;

  &.light {
    background-color: $background-lightmode;
    transition: 0.3s ease-in;
  }

  .similar-cards-container {
    @include flex(row, space-evenly, center);
    width: 100%;
    flex-wrap: wrap;
    height: 100%;

    &.light {
      background-color: $background-lightmode;
      transition: 0.3s ease-in;
    }
  }

  .category-title-container {
    top: 45px;
    left: 65px;
    position: absolute;
    text-transform: capitalize;

    .category-heading {
      font-weight: 300;

      &.light {
        color: $main-text-lightmode;
      }
    }
  }
}
