.nav-icon {
  width: 30px;
  transition: 0.3s;
  color: $main-text-darkmode;
  cursor: pointer;

  &.light {
    color: $main-text-lightmode;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.selected .nav-icon.light {
  color: $secondary-color-lightmode;
}

.selected .nav-icon {
  color: $fourth-color-darkmode;
}

.rating-icon {
  width: 15px;
  color: $fourth-color-darkmode;

  &.light {
    color: $secondary-color-lightmode;
  }
}

.footer-icon {
  width: 30px;
  color: $third-color-darkmode;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $secondary-color-darkmode;
    transition: 0.3s;
  }
  &.light {
    color: $secondary-color-lightmode;
    transition: 0.3s;
  }

  &.light:hover {
    color: $third-color-lightmode;
    transition: 0.3s;
  }
}

.github-icon {
  width: 22px;
}


