.nav-icon,
.footer-icon {
  width: 30px;
  transition: 0.3s;
  color: $text-darkmode-color;
  cursor: pointer;

  &.light {
    color: $icon-light-mode;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.selected .nav-icon.light {
  color: $icon-light-selected;
}
.selected .nav-icon {
  color: $default-blue;
}

.rating-icon {
  width: 15px;
  color: $default-blue;

  &.light {
    color: $icon-light-selected;
  }
}

.github-icon {
  width: 22px;
}
