// ABSOLUTE, FLEX, BORDER

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border($top, $right, $bottom, $left, $style, $color) {
  border: $top $right $bottom $left;
  border-style: $style;
  border-color: $color;
}

// SHADOW

@mixin shadow {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

// BUTTONS

@mixin button($padding-all, $width) {
  width: $width;
  padding: $padding-all;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin: 40px 20px 0 0;
  border-radius: 10px;
  background-color: $secondary-color-darkmode;
  color: $main-text-darkmode;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover,
  &:focus {
    background-color: #307672;
  }

  &.light {
    background-color: $third-color-lightmode;
  }

  &:hover.light {
    background-color: $secondary-color-lightmode;
  }
}

// RANDOM COLORS

@mixin random-color() {
  color: rgb(random(255), random(255), random(255));
}

// WRAP TEXT

@mixin ellipsis-multiline(
  $font-size,
  $line-height,
  $lines-to-show,
  $margin: "0"
) {
  $height-calc: $font-size * $line-height * $lines-to-show;
  display: block;
  display: -webkit-box;
  font-size: $font-size * 1px;
  line-height: $line-height;
  max-height: ($height-calc + $margin) * 1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;

  p:not(:first-of-type) {
    display: none;
  }
}
