// COLORS
// CLAROS
// #e4eddb
// #bbe1fa
// #f5f5f5
// #e4f9f5
// #eeeeee
// #abedd8
// #d3d4d8

// AZUL
// #307672
// #144d53
// #00adb5
// #00fff5
// #0f4c75
// #3282b8
// #3fc1c9
// #3d84a8
// #46cdcf
// #3fbac2

// VERDE
// #11999e
// #30e3ca
// #307672
// #144d53
// #1a3c40
// #4ecca3
// #95a792
// #596c68

// OSCUROS
// #403f48
// #4d606e
// #48466d
// #1a3c40
// #222831
// #393e46
// #1b262c
// #364f6b
// #40514e
// #232931
// #393e46

//FONTS

$main-font: "Karla", Verdana, Geneva, Tahoma, sans-serif;
$secondary-font: "Rubik", Verdana, Geneva, Tahoma, sans-serif;
$default-font-size: 1em;
$title-font-size: 40px;

//COLORS
$background-aside-darkmode: #313b41;
$background-footer-darkmode: #151E23;
$background-darkmode: #1b262c;
$background-aside-lightmode: #d3d4d8;
$background-footer-lightmode: #868789;
$background-lightmode: #a8a9ac;

$main-text-lightmode: #403f48;
$main-text-darkmode: #e4eddb;

$secondary-color-lightmode: #b23535;
$third-color-lightmode: #992e2e;

$secondary-color-darkmode: #144d53;
$third-color-darkmode: #307672;
$fourth-color-darkmode: #3fbac2;

$third-text-color: #999;


